{
  // Brave Search API Key
  // Used by agent function `search_web()` which agents can use to help with their task
  // https://brave.com/search/api/ (there is a free plan)
  // "Data for AI" plan is prefered over "Data for Search" since it includes some useful additional props
  "brave_search_api_key": "[BRAVE_SEARCH_API_KEY]",

  // Selected `model` that agents must use in the list of OpenAI API endpoints
  "current_model": "gpt-4-32k",

  // Description of the program you want the agents to develop
  // You can also set it to `null` if you want the Product Owner agent to prompt you each time you run OADS.
  "initial_project_description": "Quickly develop and run a basic CLI snake game in Python.",

  // List of OpenAI API endpoints
  // The `model` key must be unique.
  "models": [
    // Any model using Azure OpenAI API
    {
      "model": "[AZURE_OPENAI_STUDIO_DEPLOYMENT_NAME]",
      "api_key": "[AZURE_OPENAI_API_KEY]",
      "api_base": "https://[AZURE_OPENAI_RESOURCE_NAME].openai.azure.com",
      "api_type": "azure",
      // https://learn.microsoft.com/en-us/azure/ai-services/openai/reference#chat-completions
      "api_version": "2023-08-01-preview"
    },

    // `gpt-3.5-turbo-16k` using OpenAI API
    {
      "model": "gpt-3.5-turbo-16k",
      "api_key": "[OPEN_AI_API_KEY]"
    },

    // `gpt-4` using OpenAI API
    {
      "model": "gpt-4",
      "api_key": "[OPEN_AI_API_KEY]"
    },

    // `gpt-4-32k` using OpenAI API
    {
      "model": "gpt-4-32k",
      "api_key": "[OPEN_AI_API_KEY]"
    }
  ]
}
