{
  // ―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
  // Brave Search API Key

  // Used by agent function `search_web()` which agents can use to help with their task
  // https://brave.com/search/api/ (there is a free plan)
  // "Data for AI" plan is prefered over "Data for Search" since it includes some useful additional props
  "brave_search_api_key": "[BRAVE_SEARCH_API_KEY]",

  // ―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
  // Current Model

  // Selected `model` that agents must use in the list of OpenAI API endpoints
  "current_model": "Open-Orca/Mistral-7B-OpenOrca",

  // ―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
  // Project Description

  // Description of the program you want the agents to develop
  // You can also set it to `null` if you want the Product Owner agent
  // to prompt you for your project desciption each time you run OADS.
  "initial_project_description": "Create a \"guess the number\" CLI game in Python.",

  // ―――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――――
  // List of OpenAI-Compatible API endpoints

  // The `model` key must be unique.
  // https://microsoft.github.io/FLAML/docs/reference/autogen/oai/completion/#create
  "models": [
    // Open-source LLM deployment using "Text Generation Web UI" with `OpenAI` extension enabled:
    // https://github.com/ivangabriele/openai-autogen-dev-studio#open-source-llms
    // https://github.com/oobabooga/text-generation-webui/tree/main/extensions/openai#an-openedai-api-openai-like

    // !!! FUNCTION CALLING IS NOT SUPPORTED BY Text Generation Web UI !!!

    // This can be also be any inference endpoint compatible following OpenAI API specs,
    // regardless of the model you use behind it.
    {
      "model": "Open-Orca/Mistral-7B-OpenOrca",
      "api_base": "https://[YOUR_CONTAINER_ID]-5001.proxy.runpod.net/v1", // <== The `/v1` is IMPORTANT!
      // Unless you have specifically setup your endpoint with an API key, don't change this dummy value
      "api_key": "sk-111111111111111111111111111111111111111111111111",
      "api_type": "open_ai"
    }
  ]
}
